/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* General body styles */
body {
    background-color: #eaf6ff; /* Světle modré pozadí */
    color: #2c3e50; /* Tmavě modrý text */
    line-height: 1.6;
}

/* Style for the navigation bar */
nav {
    background-color: #3498db; /* Světle modrá pozadí pro navigaci */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Bílý text */
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0f8ff; /* Světlejší modrá na hover */
}

/* Style for content sections */
.content-block {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px; /* Zaoblené rohy */
    margin: 20px; /* Prostor mezi sekcemi */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Stín pro hloubku */
    background-color: #ffffff; /* Bílá pozadí pro sekce */
}

/* Image styles */
.section-image {
    max-width: 70%; /* Maximální šířka obrázku 100% */
    height: auto; /* Automatická výška pro zachování poměru stran */
    border-radius: 8px; /* Zaoblené rohy obrázku */
    margin-top: 20px; /* Prostor nad obrázkem */
}

/* Background colors for different sections */
#home {
    background-color: #d6eaf8; /* Světle modrá */
}

#fauna {
    background-color: #b3d9ff; /* Světlejší modrá */
}

#history {
    background-color: #cceeff; /* Velmi světlá modrá */
}

#urban {
    background-color: #e6f7ff; /* Velmi světlá modrá */
}

#why {
    background-color: #f0f8ff; /* Nejsvětlejší modrá */
}

#about {
    background-color: #ffffff; /* Bílá */
}

#contact {
    background-color: #ffffff; /* Bílá */
}

/* Headings styles */
h1, h2, h3 {
    color: #2980b9; /* Tmavě modrá pro nadpisy */
    margin-bottom: 15px;
}

/* Paragraph styles */
p {
    margin-bottom: 15px;
}

/* List styles */
ul {
    list-style-position: inside; /* Poloha položek seznamu uvnitř bloku */
    margin: 20px 0;
}

ul li {
    margin: 10px 0; /* Prostor mezi položkami seznamu */
}